<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Zeiterfassung</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" ng-show="authenticated">
            <li><a href="#duration/new">Neue Zeiterfassung</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-show="authenticated">
            <li><a style="cursor: default">{{user.username}}</a></li>
            <li>
                <a href="#/logout" ng-click="logout()">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"> Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>
