<div>
    <a class="btn btn-{{status}}" href="#checkin">{{buttonText}}</a>
</div>
<h2>{{month | month}} {{year}}</h2>
<button ng-click="previousMonth()" type="button" class="btn btn-info">&#60;&#60; Vorheriger Monat</button>
<button ng-click="nextMonth()" type="button" class="btn btn-info">Nächster Monat &#62;&#62;</button>

<h3>Gesamt</h3>
{{sum | duration}}


<h3>Arbeitszeiten</h3>

<table class="table table-striped">
    <thead>
    <th>Dauer</th>
    <th>Tag</th>
    <th>Von</th>
    <th>Bis</th>
    <th></th>
    <th></th>
    </thead>
    <tbody>
    <tr ng-repeat="duration in durations">
        <td>{{duration.duration | duration}}</td>
        <td>{{duration.startTime | date}}</td>
        <td>{{duration.startTime | time}}</td>
        <td>{{duration.endTime | time}}</td>
        <td><a href="#duration/{{duration.id}}">
            <button type="button" class="btn btn-info">Edit</button>
        </a></td>
        <td ng-click="delete(duration.id)">
            <button type="button" class="btn btn-danger">Delete</button>
        </td>
    </tr>
    </tbody>
</table>