<div>
    <a class="btn btn-{{status}}" href="#checkin">{{buttonText}}</a>
</div>
<h2>Aktueller Monat</h2>
<h3>Gesamt</h3>
{{sum | duration}}


<h3>Arbeitszeiten</h3>

<table class="table table-striped">
    <thead>
    <th>Dauer</th>
    <th>Tag</th>
    <th>Von</th>
    <th>Bis</th>
    </thead>
    <tbody>
    <tr ng-repeat="duration in durations">
        <td>{{duration.duration | duration}}</td>
        <td>{{duration.startTime | date}}</td>
        <td>{{duration.startTime | time}}</td>
        <td>{{duration.endTime | time}}</td>
    </tr>
    </tbody>
</table>